@charset "utf-8";
/*CSS Document*/

body{
	padding:10px;
}

.jumbotron{
	background:#20315a;
}
.jumbotron img{
	width:90%;
	height:90%;
}

.panel > .panel-heading{
	background:#20315a;
	color:white;
}

form{
	margin:10px;
}